<template name="searchWorklists">
    <div class="ibox-content">
        <form role="form" class="form-inline">
            <div class="form-group">
                <input type="text" placeholder="患者信息..." name="pName" id="pName" class="form-control"></div>
            <div class="form-group">
                <input placeholder="起始日期..." name="startTime" id="startTime" class="form-control"></div>
            <div class="form-group">
                <input placeholder="结束日期..." name="endTime" id="endTime" class="form-control"></div>
            <button class="btn btn-white" type="submit">搜索</button>
            <button class="btn btn-white" id="search_clear">清空</button>
        </form>
    </div>
    <!--<div class="row border-bottom">-->
        <!--<nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">-->
            <!--<div class="navbar-header">-->
               <!--&lt;!&ndash; <a id="navbar-minimalize" class="minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>&ndash;&gt;-->
                <!--<form role="form">-->
                    <!--<div class="form-group"><input type="text" placeholder="患者信息..." class="form-control" name="pName" id="pName"></div>-->
                    <!--<div class="form-group"><input type="text" placeholder="起始日期..." class="form-control" name="startTime" id="startTime"></div>-->
                    <!--<div class="form-group"><input type="text" placeholder="结束日期..." class="form-control" name="endTime" id="endTime"></div>-->
                    <!--<div>-->
                        <!--<button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit"><strong>搜索</strong></button>-->
                        <!--<button class="btn btn-sm btn-primary pull-right m-t-n-xs">清空</button>-->
                    <!--</div>-->
                <!--</form>-->
            <!--</div>-->
        <!--</nav>-->
    <!--</div>-->
</template>