<template name="worklists">
    <div class="row">
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-content text-center p-md">
                    {{>worklists_l}}
                </div>
            </div>

        </div>

        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-content text-center p-md">
                    {{>worklists_r}}
                </div>
            </div>

        </div>


    </div>
</template>