<template name="patientProfile">
    {{patient}}
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>{{this.profile.userProfile.name}}的详细信息</h5>
        </div>
        <div>
            <div class="ibox-content no-padding border-left-right">
                <img alt="image" class="img-responsive" src="/img/a6.jpg">
            </div>
            <div class="ibox-content profile-content">
                <h4><strong>{{this.profile.userProfile.name}}</strong></h4>

                <p><i class="fa fa-map-marker"></i> 上次治疗时间: {{ ageFormat this.profile.patientProfile.last_t}}</p>
                <h5>
                    疾病类型
                </h5>

                <p>
                    {{this.profile.patientProfile.diseases_type}}
                </p>

                <div class="row m-t-lg">
                    <div class="col-md-4">
                        <span class="bar">医院</span>
                        <h5>{{this.profile.userProfile.hospital}}</h5>
                    </div>
                    <div class="col-md-4">
                        <span class="line">科室</span>
                        <h5>{{this.profile.userProfile.department}}</h5>
                    </div>
                    <div class="col-md-4">
                        <span class="bar">主治医生</span>
                        <h5>张医生</h5>
                    </div>
                </div>
                <div class="user-button">
                    <div class="row">
                        <div class="col-md-6">
                            <button type="button" class="btn btn-primary btn-sm btn-block" id="updatePatientProfile"><i
                                    class="fa fa-envelope"></i>修改
                            </button>
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn btn-default btn-sm btn-block" id="deletePatient"><i
                                    class="fa fa-coffee"></i>删除
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{> editPatient}}
</template>