<template name="patientAdd">
    <div id="addPatientModal" class="modal fade" aria-hidden="true" >
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <span class="add-user-title">添加患者</span>
                    <button type="button" class="close" data-dismiss="modal" aria-label="关闭"><span
                            aria-hidden="false">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    {{#autoForm collection="Meteor.users" id="insertUserForm" type="insert"}}
                        <fieldset>
                            {{>afQuickField name="name" template="bootstrap3-horizontal" label-class="col-sm-2" input-col-class="col-sm-9"}}
                            {{>afQuickField name="gender" options="allowed" type="select-radio-inline" template="bootstrap3-horizontal" label-class="col-sm-2" input-col-class="col-sm-9"}}
                            {{>afQuickField name="profile.patientProfile.diseases_type" template="bootstrap3-horizontal" label-class="col-sm-2" input-col-class="col-sm-9"}}
                            {{>afQuickField name="mobile" template="bootstrap3-horizontal" label-class="col-sm-2" input-col-class="col-sm-9"}}
                            {{>afQuickField name="roles" value="patient" type="hidden"}}
                            {{>afQuickField name="age" template="bootstrap3-horizontal" label-class="col-sm-2" input-col-class="col-sm-9"}}
                            {{> afQuickField name="hospital" template="bootstrap3-horizontal" label-class="col-sm-2" input-col-class="col-sm-9"}}
                            {{> afQuickField name='department' template="bootstrap3-horizontal" label-class="col-sm-2" input-col-class="col-sm-9"}}
                            {{> afQuickField name='profile.patientProfile.last_t' template="bootstrap3-horizontal" label-class="col-sm-2" input-col-class="col-sm-9"}}

                        </fieldset>
                        <button type="submit" class="btn btn-primary">添加</button>
                    {{/autoForm}}
                </div>


            </div>
        </div>
    </div>
</template>