<template name="patientList">
    <div class="wrapper wrapper-content animated fadeInRight">

        <form id="patientListQuery">

        <div class="input-group">
            <input type="text" name="patientListQueryPara" placeholder="姓名,电话" class="form-control">
            <span class="input-group-btn">
                <button type="submit"   class="btn btn-primary">查询</button> </span>
        </div>

        </form>



        <div class="row m-t-lg" name="patientList">

          {{#each patientList}}

              <div class="col-lg-4">
                  <div class="contact-box" name="patientCard">
                    {{> homepagePatientCard}}
                  </div>
              </div>
          {{/each}}
            <div class="col-lg-4">
                <a id="addPatientDiv" class="text-center font-color-white font-weight-lighter add_user_btn" data-toggle="modal" href="#addPatientModal">
                    <i class="fa fa-plus fa-3x"></i>
                </a>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
  {{>patientAdd}}
</template>
