<template name="doctorProfile">
  {{patient}}
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>{{this.name}}医生的详细信息</h5>
        </div>
        <div>
            <div class="ibox-content no-padding border-left-right">
                <img alt="image" class="img-responsive" src="/img/a6.jpg">
            </div>
            <div class="ibox-content profile-content">
                <h4><strong>{{this.name}}</strong></h4>

                <p><i class="fa fa-map-marker"></i> 等级: 专家</p>
                <h5>
                    专长
                </h5>

                <p>
                    xxx
                </p>

                <div class="row m-t-lg">
                    <div class="col-md-4">
                        <span class="bar">医院</span>
                        <h5>{{this.hospital}}</h5>
                    </div>
                    <div class="col-md-4">
                        <span class="line">科室</span>
                        <h5>{{this.department}}</h5>
                    </div>
                    <div class="col-md-4">
                        <span class="bar">专业</span>
                        <h5>xxx</h5>
                    </div>
                </div>
                <div class="user-button">
                    <div class="row">
                        <div class="col-md-6">
                            <button type="button" class="btn btn-primary btn-sm btn-block" id="updateDoctorProfile"><i
                                    class="fa fa-envelope"></i>修改
                            </button>
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn btn-default btn-sm btn-block" id="deleteDoctor"><i
                                    class="fa fa-coffee"></i>删除
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

  {{> editDoctor}}
</template>