<template name="homepagePatientForm">
    <div id="addPatientModal" class="modal fade" aria-hidden="true" >
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <span class="add-user-title">添加患者</span>
                    <button type="button" class="close" data-dismiss="modal" aria-label="关闭"><span
                            aria-hidden="false">&times;</span>
                    </button>
                </div>

                <div class="modal-body">

                    {{#autoForm collection="Meteor.users" id="insertUserForm" type="insert"}}
                        <fieldset>
                            <legend>添加患者</legend>
                            {{>afQuickField name="name"}}
                            {{>afQuickField name="profile.patientProfile.diseases_type"}}
                            {{>afQuickField name="mobile"}}
                            {{>afQuickField name="age"}}
                            {{> afQuickField name="hospital"}}
                            {{> afQuickField name='department'}}

                        </fieldset>
                        <button type="submit" class="btn btn-primary">添加</button>
                    {{/autoForm}}
                </div>


            </div>
        </div>
    </div>
</template>