<template name="addDepartment">
    <div id="addDepartmentModal" class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="addDepartmentModalLabel" aria-hidden="true" >
        <div class="modal-dialog modal-lg">
            <div class="modal-content col-lg-9">
                <div class="modal-header text-center">
                    <span class="add-user-title">{{title}}</span>
                    <button type="button" class="close" data-dismiss="modal" aria-label="关闭"><span
                            aria-hidden="false">&times;</span>
                    </button>
                </div>

                {{> quickForm collection="Departments" id="insertDepartmentForm" type="insert" template="bootstrap3-horizontal" resetOnSuccess="true" preserveForm='false' label-class="col-sm-3" input-col-class="col-sm-8"}}

            </div>
        </div>
    </div>

</template>