<template name="addHospital">
    <div id="addHospitalModal" class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="addHospitalModalLabel" aria-hidden="true" >
        <div class="modal-dialog modal-lg">
            <div class="modal-content col-lg-9">
                <div class="modal-header text-center">
                    <span class="add-user-title">{{title}}</span>
                    <button type="button" class="close" data-dismiss="modal" aria-label="关闭"><span
                            aria-hidden="false">&times;</span>
                    </button>
                </div>

                {{> quickForm collection="Hospitals" id="insertHospitalForm" type="insert" resetOnSuccess="true" preserveForm='false'}}

            </div>
        </div>
    </div>

</template>