<template name="departmentItem">
    <div class="col-lg-4">
        <div class="contact-box">
            <div class="pull-right">
                <!--<a id="editDepartmentDiv" class="text-center font-color-white font-weight-lighter add_user_btn" data-toggle="modal" href="#editDepartmentModal">-->
                    <!--<i class="fa fa-pencil"></i>-->
                <!--</a>-->
                <a class="delete"><i class="fa fa-trash-o"></i></a>
            </div>
            <a href="{{pathFor route='showDepartments'}}">
                <div class="col-sm-4">
                    <div class="text-center">
                        <img alt="image" class="img-circle m-t-xs img-responsive" src="/img/hos.png">
                        <div class="m-t-xs font-bold">{{ name }}</div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <h3><strong>{{ name }}</strong></h3>
                    <br>
                    <address>
                        <strong>科室类型: </strong>{{ department_type }}<br>
                        <abbr title="Phone">P:</abbr> {{ phone }}
                    </address>
                </div>
                <div class="clearfix"></div>
            </a>
        </div>
    </div>
</template>