<template name="showDepartments">
    <div class="col-lg-3">
        <div class="wrapper wrapper-content">
            <div class="row animated fadeInRight">
                <div class="col-md-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5><strong>科室详细信息</strong></h5>
                            <span class="pull-right">
                                {{#afModal title="修改科室" omitFields="hospital_id,examined_items,modality_devices" collection="Departments" operation="update" doc=this._id
                                buttonContent="更新"
                                template="bootstrap3" label-class="col-sm-5" input-col-class="col-sm-7"
                                }}
                                    <i class="fa fa-pencil-square-o margin-l-r-5"></i>
                                {{/afModal}}
                            </span>

                        </div>
                        <div>
                            <div class="ibox-content profile-content">
                                <p><strong>科室名称: </strong> {{name}}</p>
                                <p><strong>首字母缩写: </strong> {{spell_code}}</p>
                                <p><strong>科室简称: </strong> {{short_name}}</p>
                                <p><strong>联系电话: </strong> {{phone}}</p>
                                <p><strong>科室类型: </strong> {{department_type}}</p>
                                <p><strong>描述: </strong><br> &nbsp;&nbsp;&nbsp; {{description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-9">
        {{>ExaminedItemList dep_id=this._id doc=this}}
        {{>ModalityDeviceList dep_id=this._id doc=this}}
        {{>doctorList hos_id=this.hospital_id dept_id=this._id}}
        {{>nurseList hos_id=this.hospital_id dept_id=this._id}}
    </div>
    {{> autoformModals}}

</template>