<template name="editModalityDevice">
    <div id="editModalityDeviceModal" class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="editModalityDeviceModalLabel" aria-hidden="true" >
        <div class="modal-dialog modal-lg">
            <div class="modal-content col-lg-9">
                <div class="modal-header text-center">
                    <span class="add-user-title">{{title}}</span>
                    <button type="button" class="close" data-dismiss="modal" aria-label="关闭"><span
                            aria-hidden="false">&times;</span>
                    </button>

                </div>

                {{#autoForm schema=editModalityDeviceSchema id="updateModalityDeviceForm" type="update" resetOnSuccess="true" }}
                    <fieldset>
                        <!--<legend>添加</legend>-->
                        {{>afFieldInput name="_id" id="id_id" style="display:none"}}
                        {{>afFieldInput name="dep_id" id="dep_id" style="display:none"}}

                        {{>afQuickField name="devices_name" id="devices_name_id"}}
                        {{>afQuickField name="modality" id="modality_id"}}
                        {{>afQuickField name="operation_frequence" id="operation_frequence_id"}}
                    </fieldset>
                    <button type="submit" class="btn btn-primary" id="updateMDBut">更新</button>
                {{/autoForm}}
            </div>
        </div>
    </div>
</template>