<template name="editExaminedItem">
    <div id="editExaminedItemModal" class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="editExaminedItemModalLabel" aria-hidden="true" >
        <div class="modal-dialog modal-lg">
            <div class="modal-content col-lg-9">
                <div class="modal-header text-center">
                    <span class="add-user-title">{{title}}</span>
                    <button type="button" class="close" data-dismiss="modal" aria-label="关闭"><span
                            aria-hidden="false">&times;</span>
                    </button>

                </div>
                {{position}}{{fee}}{{time_length}}
                {{#autoForm schema=editExaminedItemSchema id="updateExaminedItemForm" type="update" resetOnSuccess="true" }}
                    <fieldset>
                        <!--<legend>添加</legend>-->
                        {{>afFieldInput name="_id" id="item_id" style="display:none"}}
                        {{>afFieldInput name="dep_id" value=dep_id style="display:none"}}
                        {{>afQuickField name="position" id="position_id"}}
                        {{>afQuickField name="fee" id="fee"}}
                        {{>afQuickField name="time_length" id="time_length_id"}}
                        {{>afQuickField name="examined_positions" id="examined_positions_id"}}

                    </fieldset>
                    <button type="submit" class="btn btn-primary" id="updateEIBut">更新</button>
                {{/autoForm}}
            </div>
        </div>
    </div>
</template>