<template name="showHospitals">
    <div class="col-lg-3">
        <div class="wrapper wrapper-content">
            <div class="row animated fadeInRight">
                <div class="col-md-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>医院详细信息</h5>
                            <span class="pull-right">
                                {{#afModal title="修改医院" omitFields="" collection="Hospitals" operation="update" doc=_id
                                buttonContent="更新"
                                template="bootstrap3" label-class="col-sm-5" input-col-class="col-sm-7"
                                }}
                                    <i class="fa fa-pencil-square-o margin-l-r-5"></i>
                                {{/afModal}}
                            </span>

                        </div>
                        <div>
                            <div class="ibox-content profile-content">
                                <p><strong>医院名称: </strong> {{name}}</p>
                                <p><strong>首字母缩写: </strong> {{spell_code}}</p>
                                <p><strong>医院简称: </strong> {{short_name}}</p>
                                <p><strong>医院地址: </strong> {{address}}</p>
                                <p><strong>联系电话: </strong> {{phone}}</p>
                                <p><strong>医院等级: </strong> {{rank}}</p>
                                <p><strong>电子邮件: </strong> {{email}}</p>
                                <p><strong>科室数目: </strong> {{department_count}}</p>
                                <p><strong>医生数量: </strong> {{doctor_count}}</p>
                                <strong>描述: </strong><br> &nbsp;&nbsp;&nbsp; {{description}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-9">
        {{#each departments}}
            {{> departmentItem }}
        {{/each}}
        <div class="col-lg-4">
            <a id="addHospitalDiv" class="text-center font-color-white font-weight-lighter add_user_btn" data-toggle="modal" href="#addDepartmentModal">
                <i class="fa fa-plus fa-3x"></i>
            </a>

            <div class="clearfix"></div>
        </div>
    </div>
    {{> autoformModals}}
    {{>addDepartment title="添加科室" hos_id=this._id}}
</template>