<template name="showHospitals">
    <div class="col-lg-3">
        <div class="wrapper wrapper-content">
            <div class="row animated fadeInRight">
                <div class="col-md-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>医院详细信息</h5>
                            <span class="pull-right">
                                {{#afModal title="修改医院" omitFields="" collection="Hospitals" operation="update" doc=_id
                                buttonContent="更新"
                                template="bootstrap3" label-class="col-sm-5" input-col-class="col-sm-7"
                                }}
                                    <i class="fa fa-pencil-square-o margin-l-r-5"></i>
                                {{/afModal}}
                            </span>

                        </div>
                        <div>
                            <div class="ibox-content profile-content">
                                <p>医院名称:{{name}}</p>
                                <p>首字母缩写:{{spell_code}}</p>
                                <p>医院简称:{{short_name}}</p> <p>医院地址:{{address}}</p> <p>联系电话:{{phone}}</p>
                                <p>医院等级:{{rank}}</p> <p>电子邮件:{{email}}</p> <p>科室数目:{{department_count}}</p><p>医生数量:{{doctor_count}}</p>
                                描述:{{description}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-9">
        {{#each departments}}
            {{> departmentItem }}
        {{/each}}
        <div class="col-lg-4">
            <a id="addHospitalDiv" class="text-center font-color-white font-weight-lighter add_user_btn" data-toggle="modal" href="#addDepartmentModal">
                <i class="fa fa-plus fa-3x"></i>
            </a>

            <div class="clearfix"></div>
        </div>
    </div>
    {{> autoformModals}}
    {{>addDepartment title="添加科室" hos_id=this._id}}
</template>