<template name="nurseList">
    <div class="wrapper wrapper-content animated fadeInRight">



        <div class="row m-t-lg" name="nurseList">

            <div class="col-lg-4">
                添加护士
                <a id="showAddNurseModal" class="text-center font-color-white font-weight-lighter add_user_btn" data-toggle="modal" href="#addNurseModal">
                    <i class="fa fa-plus fa-3x"></i>
                </a>
                <div class="clearfix"></div>
            </div>

          {{#each nurseListData}}

              <div class="col-lg-4">
                  <div class="contact-box" name="doctorCard">
                    {{> nurseCard}}
                  </div>
              </div>
          {{/each}}


        </div>
    </div>
  {{>nurseAdd hos_id=hos_id dept_id=dept_id}}
</template>
