<template name="nurseAdd">
    <div id="addNurseModal" class="modal fade" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <span class="add-user-title">添加护士</span>
                    <button type="button" class="close" data-dismiss="modal" aria-label="关闭"><span
                            aria-hidden="false">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                  {{#autoForm collection="Meteor.users" id="insertNurseForm" validation="none"}}
                      <fieldset>
                          {{>afQuickField name="username" template="bootstrap3-horizontal" label-class="col-sm-2" input-col-class="col-sm-9"}}
                          {{>afQuickField name="profile.userProfile.roles" type="hidden" value="nurse"}}
                          {{>afQuickField name="profile.userProfile.password" type="password" template="bootstrap3-horizontal" label-class="col-sm-2" input-col-class="col-sm-9"}}
                          {{>afQuickField name="profile.userProfile.confirmPassword" type="password" template="bootstrap3-horizontal" label-class="col-sm-2" input-col-class="col-sm-9"}}
                          {{>afQuickField name="profile.userProfile.name" template="bootstrap3-horizontal" label-class="col-sm-2" input-col-class="col-sm-9"}}
                          {{>afQuickField name="profile.userProfile.gender" options="allowed" type="select-radio-inline" template="bootstrap3-horizontal" label-class="col-sm-2" input-col-class="col-sm-9"}}
                          {{>afQuickField name="profile.userProfile.mobile" template="bootstrap3-horizontal" label-class="col-sm-2" input-col-class="col-sm-9"}}
                          <!--{{>afQuickField name="roles" options="allowed" type="select-checkbox-inline" noselect=true template="bootstrap3-horizontal" label-class="col-sm-2" input-col-class="col-sm-9"}}-->
                          {{>afQuickField name="profile.userProfile.age" template="bootstrap3-horizontal" label-class="col-sm-2" input-col-class="col-sm-9"}}
                          <!--{{> afQuickField name="profile.userProfile.hospital"}}-->
                          <!--{{> afQuickField name='profile.userProfile.department'}}-->
                          {{> afQuickField name="profile.userProfile.hospital_id" value=hos_id type="hidden" template="bootstrap3-horizontal" label-class="col-sm-2" input-col-class="col-sm-9"}}
                          {{> afQuickField name='profile.userProfile.department_id' value=dept_id type="hidden" template="bootstrap3-horizontal" label-class="col-sm-2" input-col-class="col-sm-9"}}

                      </fieldset>
                      <button type="submit" class="btn btn-primary">添加</button>
                  {{/autoForm}}
                </div>


            </div>
        </div>
    </div>
</template>