<template name="topNavbar">
    <div class="row border-bottom">
        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a id="navbar-minimalize" class="minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                <form role="search" class="navbar-form-custom" action="search_results">
                    <div class="form-group">
                        <input type="text" placeholder="患者信息..." class="col-sm-5" name="pName" id="pName">
                        <input type="text" placeholder="起始日期..." class="col-sm-5" name="startTime" id="startTime">
                        <input type="text" placeholder="结束日期..." class="col-sm-5" name="endTime" id="endTime">
                    </div>
                </form>
            </div>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <a href="#">
                        <i class="fa fa-sign-out"></i> Log out
                    </a>
                </li>

            </ul>

        </nav>
    </div>
</template>