<template name="addPatient">
  {{#autoForm  id="addPatientForm" omitFields="spell_code,height,last_treat_time,diseases_type,wechat" collection="Patients"
  type="insert" buttonContent="添加"}}
      <fieldset>
        {{> afQuickField name='name' template="bootstrap3-horizontal" label-class="col-sm-2" input-col-class="col-sm-9"}}
        {{> afQuickField name='gender' template="bootstrap3-horizontal" label-class="col-sm-2" input-col-class="col-sm-9"}}
        {{> afQuickField name='birthday' template="bootstrap3-horizontal" label-class="col-sm-2" input-col-class="col-sm-9"}}
        {{> afQuickField name='mobile_phoner' template="bootstrap3-horizontal" label-class="col-sm-2" input-col-class="col-sm-9"}}
        {{> afQuickField name='credential' template="bootstrap3-horizontal" label-class="col-sm-2" input-col-class="col-sm-9"}}
        {{> afQuickField name='email' template="bootstrap3-horizontal" label-class="col-sm-2" input-col-class="col-sm-9"}}
      </fieldset>
      <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
          <button type="submit" class="btn btn-primary">添加</button>
      </div>
  {{/autoForm}}
</template>